<!DOCTYPE html>
<html lang="zh-CN">

<head>
   <!-- 编码格式 -->
    <meta charset="UTF-8">
    <title>上海银行</title>
    <!-- 作者 -->
    <meta name="author" content="author">
    <!-- 网页描述 -->
    <meta name="description" content="hello">
    <!-- 关键字使用","分隔 -->
    <meta name="keywords" content="a,b,c">
    <!-- 禁止浏览器从本地机的缓存中调阅页面内容 -->
    <meta http-equiv="Pragma" content="no-cache">
    <!-- content的参数有all，none，index，noindex，follow，nofollow，默认是all -->
    <meta name="robots" content="none">
    <!-- 收藏图标 -->
    <!-- <link rel="Shortcut Icon" href="favicon.ico"> -->
    <!-- 网页不会被缓存 -->
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <!-- 解决部分兼容性问题，如果安装了GCF，则使用GCF来渲染页面，如果未安装GCF，则使用最高版本的IE内核进行渲染。 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 页面按原比例显示 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../Styles/Plugin/bootstrap.min.css">
    <link rel="stylesheet" href="../../Styles/Home/index.css">
    <script src="../../Scripts/plug/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../Scripts/home/jquery.placeholder.min.js"></script>
 	<script src="../../Scripts/plug/bootstrap.min.js"></script>
 	<script src="../../Scripts/home/public.js"></script>
     <!--[if lt IE 9]>
	       <script src="../../Scripts/home/html5shiv.min.js"></script>
	       <script src="../../Scripts/home/respond.js"></script>
	    <![endif]-->
</head>
<body>
	<ul id="myTab" class="nav nav-tabs">
		
		<li role="presentation " class="active">
			<a href="#munu_control">菜单列表</a>
		</li>
		
	</ul>
	<div class="tab-content">
			<div class="tab-pane fade   in active " id="munu_control" style="overflow: auto;height: 100%;width: 100%;">
				<div id="wrap">
					<div id="inforList"  style="width:100%;">
						<div class="panel panel-primary">
							<div class="panel-heading">本周菜单</div>
							<div class="panel-body">
								<div class="table_header">
									<div class="header_content " style="padding-right: 0;">
										<p style="width:10% ;"></p>
									    <p >早餐</p>
									    <p >午餐</p>
									    <p >晚餐</p>
									</div>
								</div>
								<div class="table_content thisWeek menudeal">
									<div class="table_line">
										<p style="width:10% ;">星期一(<span></span>)</p>
										<p>暂无</p>
										<p>暂无</p>
										<p>暂无</p>
										 
									</div>
									<div class="table_line">
										<p style="width:10% ;">星期二(<span></span>)</p>
										<p>暂无</p>
										<p>暂无</p>
										<p>暂无</p>
									</div>
									<div class="table_line">
										<p style="width:10% ;">星期三(<span></span>)</p>
										<p>暂无</p>
										<p>暂无</p>
										<p>暂无</p>
									</div>
									<div class="table_line">
										<p style="width:10% ;">星期四(<span></span>)</p>
										<p>暂无</p>
										<p>暂无</p>
										<p>暂无</p>
									</div>
									<div class="table_line">
										<p style="width:10% ;">星期五(<span></span>)</p>
										<p>暂无</p>
										<p>暂无</p>
										<p>暂无</p>
									</div>
									<div class="table_line">
										<p style="width:10% ;">星期六(<span></span>)</p>
										<p>暂无</p>
										<p>暂无</p>
										<p>暂无</p>
									</div>
									<div class="table_line">
										<p style="width:10% ;">星期日(<span></span>)</p>
										<p>暂无</p>
										<p>暂无</p>
										<p>暂无</p>
									</div>
								</div>
								
							</div>
								
						</div>
					</div>
				
				
					<div id="inforList"  style="width:100%;margin-bottom: 40px;">
						<div class="panel panel-primary">
							<div class="panel-heading">下周菜单</div>
							<div class="panel-body">
								<div class="table_header">
									<div class="header_content" style="padding-right: 0;">
										<p style="width:10% ;"></p>
									    <p >早餐</p>
									    <p >午餐</p>
									    <p >晚餐</p>
									</div>
								</div>
								<div class="table_content nextWeek menudeal">
									<div class="table_line">
										 <p style="width:10% ;">星期一(<span></span>)</p>
										 <p>暂无</p>
										<p>暂无</p>
										<p>暂无</p>
									</div>
									<div class="table_line">
										<p style="width:10% ;">星期二(<span></span>)</p>
										<p>暂无</p>
										<p>暂无</p>
										<p>暂无</p>
									</div>
									<div class="table_line">
										<p style="width:10% ;">星期三(<span></span>)</p>
										<p>暂无</p>
										<p>暂无</p>
										<p>暂无</p>
									</div>
									<div class="table_line">
										 <p style="width:10% ;">星期四(<span></span>)</p>
										<p>暂无</p>
										<p>暂无</p>
										<p>暂无</p>
									</div>
									<div class="table_line">
										<p style="width:10% ;">星期五(<span></span>)</p>
										<p>暂无</p>
										<p>暂无</p>
										<p>暂无</p>
									</div>
									<div class="table_line">
										<p style="width:10% ;">星期六(<span></span>)</p>
										<p>暂无</p>
										<p>暂无</p>
										<p>暂无</p>
									</div>
									<div class="table_line">
										<p style="width:10% ;">星期日(<span></span>)</p>
										<p>暂无</p>
										<p>暂无</p>
										<p>暂无</p>
									</div>
								</div>
							</div>
								
						</div>
					</div>
				
				

				</div>
			</div>
			
		</div>
		<div class="modal fade" id="myModal_menu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width: 680px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							菜单管理
							<span class="errorMsg" style="font-size: 14px;color: red;margin-left: 15px;">
								
							</span>
						</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="col-md-2 control-label">
											早餐<span style="color: red;">*</span>
										</label>
										<div class="col-md-10">
									        <textarea class="form-control" rows="3" id="breakfast"></textarea>
									    </div>
									</div>
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="col-md-2 control-label">
											午餐<span style="color: red;">*</span>
										</label>
										<div class="col-md-10">
									        <textarea class="form-control" rows="3" id="lunch"></textarea>
									    </div>
									</div>
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="col-md-2 control-label">
											晚餐<span style="color: red;">*</span>
										</label>
										<div class="col-md-10">
									        <textarea class="form-control" rows="3" id="dinner"></textarea>
									    </div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" onclick="menuSet()"><!---->
							确定
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="alert alert-success alert-dismissable" style="width:400px;position: fixed;top: 50px;z-index: 99;left: 50%;margin-left: -200px;display: none;">
	        <button type="button" class="close" data-dismiss="alert"
	                aria-hidden="true">
	            &times;
	        </button>
	        		操作成功。
	    </div>
	    <div class="alert alert-danger alert-dismissable" style="width:400px;position: fixed;top: 50px;z-index: 99;left: 50%;margin-left: -200px;display: none;">
	        <button type="button" class="close" data-dismiss="alert"
	                aria-hidden="true">
	            &times;
	        </button>
	        	操作失败。
	    </div>
	    <div class="modal fade" id="myModal_menu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width: 680px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							菜单管理
							<span class="errorMsg" style="font-size: 14px;color: red;margin-left: 15px;">
								
							</span>
						</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="col-md-2 control-label">
											早餐<span style="color: red;">*</span>
										</label>
										<div class="col-md-10">
									        <textarea class="form-control" rows="3" id="breakfast" placeholder="多个菜单之间用'，'间隔"></textarea>
									    </div>
									</div>
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="col-md-2 control-label">
											午餐<span style="color: red;">*</span>
										</label>
										<div class="col-md-10">
									        <textarea class="form-control" rows="3" id="lunch" placeholder="多个菜单之间用'，'间隔"></textarea>
									    </div>
									</div>
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="col-md-2 control-label">
											晚餐<span style="color: red;">*</span>
										</label>
										<div class="col-md-10">
									        <textarea class="form-control" rows="3" id="dinner" placeholder="多个菜单之间用'，'间隔"></textarea>
									    </div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" onclick="menuSet()"><!---->
							确定
						</button>
					</div>
				</div>
			</div>
		</div>
</body>
<script type="text/javascript">
	var  menuType=0,menuTime=0;
	$(function(){
		var h=$(window).height();
		$("#wrap").css({height:h+'px',"overflow":"auto"})
		var d=getMonDate();
		var arr=[];
		for(var i=0; i<14; i++)
		{	
			var dates=d.getFullYear()+'-'+((d.getMonth()+1<10)?("0"+(d.getMonth()+1)):(d.getMonth()+1))+'-'+(d.getDate()<10?("0"+(d.getDate())):(d.getDate()));
			if(i<7){
				var str=dates.substr(5,10)
				$(".thisWeek .table_line").eq(i).find("p span").text(str);
				$(".thisWeek .table_line").eq(i).addClass(dates)
				$(".thisWeek .table_line").eq(i).attr("id",dates)
			
			}else{
				var str=dates.substr(5,10)
				$(".nextWeek  .table_line").eq(i-7).find("p span").text(str);
				$(".nextWeek .table_line").eq(i-7).addClass(dates)
				$(".nextWeek .table_line").eq(i-7).attr("id",dates)
			}
			d.setDate(d.getDate()+1);
			
		};
		$(".menudeal .table_line").each(function(){
			$(this).click(function(){
//				menuType=0,menuId=0,menuTime=0
				$("#myModal_menu").modal("show");
				var id=$(this).attr("tabId");
				var breakfast=$(this).find("p").eq(1).text();
				var lunch=$(this).find("p").eq(2).text();
				var dinner=$(this).find("p").eq(3).text();
				$(".errorMsg").text("")
				if(id){
					console.log("编辑");
					$("#breakfast").val(breakfast);
					$("#lunch").val(lunch);
					$("#dinner").val(dinner);
					menuTime=$(this).attr("id");
					menuType=0;
				}else{
					console.log("添加")
					$("#breakfast").val("");
					$("#lunch").val("");
					$("#dinner").val("");
					menuTime=$(this).attr("id");
					menuType=1;
				}
			})
		})
		loadConMenu();
	})
	function loadConMenu(){
		var d=getMonDate();
		var arr=[];
		for(var i=0; i<14; i++)
		{	
			var dates=d.getFullYear()+'-'+((d.getMonth()+1<10)?("0"+(d.getMonth()+1)):(d.getMonth()+1))+'-'+(d.getDate()<10?("0"+(d.getDate())):(d.getDate()));
			arr.push(dates);
			d.setDate(d.getDate()+1);
			
		};
		var data={
			start:arr[0],
			end:arr[13]
		}
		JQajaxo("post","/api/Event/get_menu_day",false,data,_success)
        function _success(res){
        	var dat=res.HttpData.data,lg=dat.length;
        	console.log(res);
        	for(var i=0;i<14;i++){
        		var times=dat[i].time.substr(0,10);
        		var name=dat[i].name;
        		var id=dat[i].id;
        		var type=dat[i].type;
        		$("."+times).find("p").eq(type+1).text(name);
        		$("."+times).find("p").eq(type+1).attr("title",name);
        		$("."+times).find("p").eq(type+1).attr("tabId",id);
        		$("."+times).attr("tabId",id);
        	}
        }
		
	}
	function menuSet(){
		var data;
		if(menuType==0){
			var breakfastId= $("#"+menuTime).find("p").eq(1).attr("tabid");
			var lunchId= $("#"+menuTime).find("p").eq(2).attr("tabid");
			var dinnerId= $("#"+menuTime).find("p").eq(3).attr("tabid");
			console.log(breakfastId,lunchId,dinnerId)
			data={
				breakfastId:breakfastId,
				lunchId:lunchId,
				dinnerId:dinnerId,
				deal:0,
				breakfast:$("#breakfast").val(),
				lunch:$("#lunch").val(),
				dinner:$("#dinner").val()
			}
		}else{
			data={
				breakfast:$("#breakfast").val(),
				lunch:$("#lunch").val(),
				dinner:$("#dinner").val(),
				time:menuTime,
				deal:1
			}
		}
		if(!data.breakfast){
			$(".errorMsg").text("请填写早餐")
			return;
		}else if(!data.lunch){
			$(".errorMsg").text("请填写午餐")
			return;
		}else if(!data.dinner){
			$(".errorMsg").text("请填写晚餐")
			return;
			
		}
		console.log(data);
		JQajaxo("post","/api/Event/set_menu",true,data,_success)
        function _success(res){
        	var dat=res.HttpData.data;
			$('#myModal_menu').modal('hide');
			if(dat==1){
				$(".alert-success").show();
				// var dates=getDate();
				// getTodayMenu(dates);
				loadConMenu();
			}else{
				$(".alert-danger").show()
			}
			setTimeout(function(){
				$(".alert").hide()
			},2000)
        }
	}
</script>
</html>
