.clear{clear:both;}

.navbar{background:#252a2d;color:#fff;}
.navbar a{color:#fff;}
.navbar a i{color:#fff;}
.navbar a.link{width:40px;text-align:center;}
.navbar:after{height:0;}
.toolbar:before{height:0;}

.navbar-inner>.left>.back{padding:0 10px;margin-left:-8px;}

.tabbar{background:#252a2d;color:#fff;}
.toolbar-inner a.link{padding-bottom:0px;padding-top:0;}
.tabbar a{color:#c7c7c7; position:relative;text-align:center;}
.tabbar a span{font-size:12px!important; position:absolute;bottom:6px;}
.tabbar a i{font-size:24px; display:block; margin-top:2px;}
.tabbar a.active{color:#ffb400!important;}
.tabbar a.link.active-state{opacity:1;} 

.mobileNotSelect{-moz-user-select: -moz-none;-moz-user-select: none;-o-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;}
.list-block{position:relative;}
.list-block .item-title{font-size:16px!important;}

/******flex布局******/
.flexBoxs{display: -webkit-box;display: -ms-flexbox;display: flex;display: -webkit-flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.flexBoxEnd{display: -webkit-box;display: -ms-flexbox;display: flex;display: -webkit-flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: flex-end;align-items: flex-end;}

/*首页*/
.homepages{height:100%;width:100%;z-index:1;overflow:auto;position:relative;}
.homepages img{width:100%;}
.page_list{height:auto;text-align:center;z-index:2;position:relative;margin-bottom:20px;}
.list_items_top{padding-top:20px;}
.list_items_bottom{padding-bottom:20px;}
.page_list>a{color:#252a2d;}
.page_list a div i{font-size:34px;border:2px solid;padding:10px;border-radius:50%;background:#fff;}
.page_list a span{margin-top:10px;display:block;}
.page_list>.active-state{}

/*实时快照*/
.message_color_1>.item-media{color:#f22434;}
.message_color_1 .badge{background:#f22434;}

.message_color_2>.item-media{color:#f98a11;}
.message_color_2 .badge{background:#f98a11;}

.message_color_3>.item-media{color:#00cff4;}
.message_color_3 .badge{background:#00cff4;}

.message_color_4>.item-media{color:#fcd953;}
.message_color_4 .badge{background:#fcd953;}

.message_color_5>.item-media{color:#3ea91f;}
.message_color_5 .badge{background:#3ea91f;}

.mgList_left{display: -webkit-box!important;text-align:center;font-size:12px;}

.msList>li>a>.item-inner{position:absolute;left:0;right:0;margin:0;padding:0 55px 0 85px;margin-left:0!important;}
.msList>li>a>.item-inner:after{height:0;}

.list-page i{font-size:24px;}
.list-page img{width:18px;height:18px;}
.accordion-item-expanded>a>div>i:before{content: "\e623";}

.mgSection{text-align:left;width:100%;color:#252a2d;margin:0;padding:0;}
.mgSection textarea{width:inherit;min-height: 90px;height:90px;border:none;padding:5px;box-sizing:border-box;}
.procsContent{height:90px;overflow:auto;margin:0;}
.procsContent ul{list-style:none;margin:0;padding:0;}

.bgActuals{padding:0 13px 13px;}
.bgActuals textarea{min-height: 90px;height:90px;max-height:100px;width:100%;padding:0px;margin:0;border:none;border-radius:5px;}
.list-group ul{list-style:none;margin:0;padding:0;}
/*.picker-modal{height:auto;}*/
.mgb-footer-top{bottom: auto!important;top:0;}

.modalTitles{webkit-flex-shrink:1;-ms-flex: 0 1 auto;flex-shrink: 1;white-space: nowrap;position: relative;overflow: hidden;text-overflow: ellipsis;max-width: 100%;}

/*分享*/
.share{position:absolute;top:3px;right:3px;}
.share i{font-size:24px;}

/*实时数据*/
.rt_tree_1{padding-left:24px!important;}
.rt_tree_2{padding-left:30px!important;}
.rt_tree_3{padding-left:36px!important;}
.rt_listIcon{font-size:16px!important;}
.poverCurve{width:96%!important;margin:0 auto!important;}
.highcharts{height:300px;}
.poverCurve>.popover-angle{display:none!important;}
.buttons-row .button:first-child {border-radius:0!important;}
.buttons-row .button:last-child {border-radius:0!important;}

/******table样式******/
.tableAuto{width:auto;height:auto;margin-bottom:35px;}
.tableAuto table{width:100%;text-align:left;border-collapse:collapse;}
.tableAuto table thead tr{background:#869aa9;}
.tableAuto table thead tr th{padding: 8px 10px;border-top:none;text-align:left;font-weight:normal;color:#fff;}
.tableAuto table tbody tr td{padding: 8px 10px;}
.tableAuto table tbody tr td a i{font-size:24px;}
.tableAuto table tbody tr td img{width:18px;height:18px;}
.tableAuto table tbody tr{background:#fff;-webkit-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-o-transition: all 300ms linear 0s;transition: all 300ms linear 0s;}
.tableAuto table tbody tr:nth-child(even){background:#fff;}
.tableAuto table tbody tr:nth-child(odd){background:transparent;}
.tableAuto table tbody .nulltd{background:#f3f3f3;}
.tableAuto table tbody>.active{background: rgba(255,255,255,.2)!important;}
.tableTDBGNull table tbody tr:nth-child(odd){background-color:#fff;}

.tableAuto2 table thead tr{background:#007aff;}
.tableAuto2 table tbody tr:nth-child(even){background:#bcd8f6;}
.tableAuto3 table tbody tr:nth-child(even){background:transparent;}

.tabBtn .button{border:none;border-left-width:0!important;}

/*语音*/
.voice{border-radius:50%;-webkit-border-radius:50%;width:120px;height:120px;margin:0 auto;background-color:#6e7f8a;text-align:center;line-height:120px;}
.voiceActive{background-color:#40494F;color:#fff;box-shadow: 0 0 2rem .5rem #616f79;}
.voice i{font-size:60px;font-weight:100!important;color:rgba(255,255,255,.45);}
.voiceTitle{text-align:center;width:100%;height:30px;line-height:30px;margin-top:20px;margin-bottom:34px;}
.voiceClose{width:100%;margin-top:20px;}
.voice.active-state{background-color:#40494F;color:#fff;box-shadow: 0 0 2rem .5rem #616f79;}
i.icon.icon-back{background-image:none!important;width:auto!important;height:auto!important;}
.icon{font-family:"iconfont" !important;font-size:16px!important;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}
.list-block{margin:0;}
.voiceDivs{position:absolute;left:0;right:0;bottom:60px;height:300px;}

/*二维码*/
.ricscan_div{position:relative;width:95%;margin:0 auto;}
.ricscan_ipt{width:100%;height:44px;}
.ricscan_btn{position:absolute;pointer-events:none;left:0;top:0;width:100%;}
.ricscan_img{height:auto;margin:0 auto;display:block;margin-top:13px;}
.ricscan_text{width:60%;margin:0 auto;white-space:pre-wrap;margin-top:13px;word-wrap:break-word;}
.ricscan_btnVideo{margin-top:13px;}

.ricscan_video{display:block;margin:0 auto;}
.ricscan_start{display:none; height:50px; width:120px;}

.userInforImg{width:100%;}
.userInforImg img{width:50%;margin:0 auto;display:block;}

.words {text-align: right;margin: 6px;font-size: 14px;color: #484848;}
.leftText {margin: 12px 0 6px 6px;text-align: left;}
.zicanBtn{width:80%;margin:0 auto;margin-top:12px;margin-bottom:12px;}
.zicanImg{width:150px;height:150px;margin:0 auto;display:block;}

/*选择图片或拍照插件*/
.addimgDiv{width:100%;background:#fff;}
.addimgList{height:100%;margin:12px;}
.addimgListItme{width:64px;height:90px;overflow:hidden;position:relative;margin-right:12px;}
.addimgListIcon{font-size:64px;color:#484848;position:absolute;top:0;left:0;z-index:10;cursor:pointer;pointer-events: none;background:#fff;}
.addimgList i{font-size:64px;color:#484848;position:absolute;top:0;left:0;z-index:10;cursor:pointer;pointer-events: none;background:#fff;}
.addimgList input{z-index:9;width:64px;height:90px;}
.addimgListItme img{width:64px;height:64px;margin-top:13px;}
.flexBoxStart{display: -webkit-box;display: -ms-flexbox;display: flex;display: -webkit-flex;flex-wrap:wrap;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;}
.btnUpload{margin:0 12px;}

/*视频*/
.videoPlay{width:100%;}
.videoPlay video{width:100%;}
.videoControls{background:url(/Image/video/video_img.png);width:121px;height:122px;margin:0 auto;position:relative;}
.videoControls .active-state{opacity:.7;}
.videoControls_left{position:absolute;opacity:0;left:0;top:35px;}
.videoControls_right{position:absolute;opacity:0;right:0;top:35px;}
.videoControls_top{position:absolute;opacity:0;left:35px;}
.videoControls_bottom{position:absolute;opacity:0;left:35px;bottom:-7px;}
.videoControls2{font-size:18px;margin:0 auto;width:139px;}

/*事件查询*/
.evtSelect{height:45px;background:#fff;line-height:45px;text-align:center;padding:0 12px;}
.evtSelect i{font-size:24px;}
.equipList{max-height:176px;overflow:auto;}
.equipList:after{height:0;}
.screenBtn{background:#fff;position:absolute;top:0;bottom:0;left:0;right:0;padding:8px;;}
.timeScreen .active{background:#007aff;}